<h2>商品詳細</h2>


<%= image_tag @item.user.item_image, size:"100x100" %>

          <tr>
            <td>商品名</td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td>商品説明</td>
            <td><%= @item.explanation %></td>
          </tr>
          <tr>
            <td>ジャンル</td>
            <td><%= @item.genre.name %></td>
          </tr>
          
          
          
          <% if @item.is_sale == true %>
                <h5 class="text-success font-weight-bold">販売中</h5>
              <% else %>
                <h5 class="text-muted font-weight-bold">販売停止</h5>
              <% end %>