<div class="container">
  <div class="row">
    <div class="col-md-12" >
      <h2 class="mb-border_bottom" >ジャンル編集</h2>
        <div class="container">
          
        <div class="row pt-5 pb-5">
        　<%= form_with model:Genre, url:admin_genre_path(@genre.id), method: :patch do |f| %>
          
          <div class="form-group">
            <%= f.label :ジャンル名 %>
            <%= f.text_field :genre_name, :placeholder =>"#{@genre.genre_name}",class:'form-control' %>
          </div>
          
    　<div class="row pt-1 pb-1">
        
        <%= f.submit "変更を保存", class: 'btn btn-success' %>
          </div>  
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>