<h1>注文履歴一覧</h1>
<p>購入日時<%= @orders.created_at.strftime('%Y/%m/%d') %></p>#フォーマット調整
<p>購入者<%= @orders.customers.last_name %><%= @oders.customers.first_name %></p>
<p>注文個数<%= @order_details.quantity %></p>
<p>注文ステータス</p>
<p></p>#ページネーション
