<tbody>
    <% genres.each do |genre| %>
    <tr>
      <% if genre.is_active == true %>
      <td>
        <%= link_to genre.name, items_path(item_id: item.id), class: "text-secondary" %>
      </td>
      <% end %>
    </tr>
    <% end %>
</tbody>