<table class='table table-hover table-inverse'>
  <tbody>
    <% items.each do |item| %>
      <!--<div class="col-md-2">-->

      <!--<div class="card-image-top">-->
      <td>
        <%= image_tag item.image, size:"100x100" %>
      </td>
      <!--</div>-->

      <!--<div class="table">-->
        <td><%= link_to item.name, item_path(item) %></td>
        <!--items/showに飛びたい-->
        <td><%= item.add_tax_net_price.to_s(:delimited) %>(<%= item.net_price.to_s(:delimited) %>)円</td>
      <!--</div>-->

      <% end %>
    <!--</div>-->
  </body>
</table>