<div class='container px-5 px-sm-0'>
  <div class='row'>

    <div class='col-md-3'>
    <%= render 'genresearch', genres: @genres %>
    </div>

    <div class='col-md-8 offset-md-1'>

      <!--kaminari 導入検討中-->
      <div class='col-md-10'>
    <%= render 'index', items: @items %>
    </div>

  </div>
</div>